@font-face {
    font-family: 'Montserrat';
    src: url('~/assets/fonts/montserrat-v31-latin-regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url('~/assets/fonts/montserrat-v31-latin-500.woff2') format('woff2');
    font-weight: 500;
    font-display: swap;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url('~/assets/fonts/montserrat-v31-latin-600.woff2') format('woff2');
    font-weight: 600;
    font-display: swap;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url('~/assets/fonts/montserrat-v31-latin-700.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url('~/assets/fonts/montserrat-v31-latin-800.woff2') format('woff2');
    font-weight: 800;
    font-display: swap;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url('~/assets/fonts/montserrat-v31-latin-900.woff2') format('woff2');
    font-weight: 900;
    font-display: swap;
    font-style: normal;
}
